# Core
streamlit==1.54.0

# LangChain (OLD ecosystem - compatible)
langchain==0.1.20
langchain-community==0.0.38
langchain-aws==0.0.12

# ML / Vector
faiss-cpu
numpy
pandas

# AWS
boto3

# PDF
pypdf

# Utils
python-dotenv
requests
